@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

/* Reminder / Task editable */
#reminder-input {
  padding: 1rem;
  font-size: 2rem;
  background-color: rgba(238, 238, 238, 0.3);
}

/* Weather */
.weather-grid-tile .weather-icon {
  width: 100%;
}
.weather-grid-tile .weather-icon img {
  min-width: 80px;
  min-height: 80px;
}
.current-temp .temp {
  padding: 0.25rem;
  font-size: 2rem;
  color: #ccc;
}
.current-location .location {
  font-size: 0.9rem;
  margin-top: 1rem;
  padding: 0.25rem;
}

/* news */

#novara-content,
#guardian-content {
  width: inherit;
  background-color: #fff;
  border-radius: 5px;
  /* border: 2px solid #666; */
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  /* padding: 0.25rem; */
}
.novara-slider,
.guardian-slider {
  display: flex;
  width: 100%;
  flex-shrink: 0;
  border: 1px solid green;
  transition: ease-in-out 1s;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.news-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 205px;
  width: 100%;
  margin: 2.5px;
}

.news-content .text-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Novara Styles */

.novara-slider .news-content .text-content,
.novara-slider .news-content .news-img-container {
  flex: 1;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.news-img-container {
  padding: 0.5rem;
}
.news-img-container .news-img {
  width: 100%;
  height: 100%;
  border: 2px solid #333;
  border-radius: 5px;
}
.novara-slider .text-content .content-container {
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
  background-color: rgba(238, 238, 238, 0.5);
}
.novara-slider .news-link,
.novara-slider .news-title,
.novara-slider .news-desc {
  display: block;
  color: #000;
}
.news-title {
  margin: 0.25rem;
  font-weight: 600;
  font-size: 1.1rem;
  flex: 1;
  letter-spacing: normal;
  font-weight: 400;
}
.news-desc {
  max-height: 100px;
  overflow: hidden;
  flex: 3;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-desc div .desc {
  font-size: 0.75rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.novara-slider .news-link-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
.news-link-container .icon {
  margin-right: 0.25rem;
}
.novara-slider .link {
  color: #000;
  text-decoration: none;
  z-index: 0;
  padding: 0.25rem 0.35rem;
  overflow: hidden;
  border-radius: 5px;
}
.novara-slider .link:hover {
  background-color: #333;
  color: #ccc;
}

/* Guardian styles */
.guardian-slider .news-content, .guardian-slider .news-content .text-content {
  width: 100%;
}
.guardian-slider .content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.guardian-slider .news-title,
.guardian-slider .section-name,
.guardian-slider .news-link-container {
  display: block;
  color: #fff;
  flex: 1;
  padding: 0.5rem;
}
.guardian-slider .news-title {
  margin: 0.25rem;
  font-weight: 600;
  font-size: 1.25rem;
  flex: 1;
  letter-spacing: normal;
  font-weight: 400;
}
.guardian-slider .content-container .desc {
  font-size: 0.9rem;
  font-weight: 300 !important;
}
.guardian-slider .news-link-container,
.guardian-slider .news-title,
.guardian-slider .section-name {
  display: flex;
  align-items: center;
}
.guardian-slider .link {
  color: #fff;
  font-size: 0.8rem;
  text-decoration: none;
  z-index: 0;
  padding: 0.25rem 0.35rem;
  overflow: hidden;
  border-radius: 5px;
}
.guardian-slider .link:hover {
  background-color: #ccc;
  color: #333;
}

/* Mobile Styles */

@media screen and (max-width: 900px) {
  .name-input {
    font-size: 2rem;
  }
  #reminder-input {
    font-size: 1.5rem;
  }
  .novara-slider .news-content .news-img-container {
    display: none;
  }
  .novara-slider .news-content, .novara-slider .news-content .content-container {
    max-width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .container div {
    grid-column: 1 / 5 !important;
  }
  .name-input {
    font-size: 2.5rem;
  }
}
